a{
  font-family: 'Manjari', sans-serif;
}
footer{
  position: absolute;
}
.btn-mylife{
	background-color: #3c6948;
}
.ban-mylife{
	background-color: #3c6948;
}
.btn-mylife:hover{
	background-color: #272e2a;
}
.border-mylife{
	border-color: #3c6948;
}
*{
	font-family: 'Source Sans Pro', sans-serif;
}